.index-page {
  --notion-max-width: 1300px;
}

.notion-collection-card-cover img {
  border-radius: var(--radius) var(--radius) 0 0;
}

.notion-collection-card-cover {
  border-radius: var(--radius) var(--radius) 0 0;
  box-shadow: 2px 2px 8px 4px rgba(15, 15, 15, 0.1);
}

.notion-collection-card {
  border-color: hsl(var(--border));
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius);
  box-shadow: none;
  overflow: visible;
}
/* Add hover styles */
.notion-collection-card:hover {
  border-color: hsl(var(--border-dark));
}

.notion-collection-card-body {
  padding: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 2);
  border-top: hsl(var(--border)) 1px solid;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: start;
}

.notion-gallery-grid {
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.notion-title {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 3rem;
}

.notion-gallery-grid .notion-page-title-text {
  font-size: 1.6em;
  white-space: unset;
}

.notion-hr {
  border-bottom: 1px solid hsl(var(--border));
  margin: 1rem;
}

.notion-header {
  border-bottom: 1px solid hsl(var(--border));
}

.notion-header .notion-nav-header {
  max-width: 1300px;
  margin: 0 auto;
  overflow-x: auto;
}

.notion-header .notion-nav-header .breadcrumbs .title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 2px;
  padding: 4px;
}

.notion-h3 {
  font-weight: 500;
}

.notion-header .breadcrumb {
  border-radius: var(--radius);
}

.notion-header .breadcrumb:not(.active):hover {
  background: hsl(var(--accent));
}

.flex-row {
  display: flex;
}

.align-items-center {
  align-items: center;
}